@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slides {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 14px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.surprise h3 {
  position: absolute;
  font-size: 14px;
  bottom: 30%;
  left: 20px;
  margin: 0;
  opacity: 0;
  display: none;
  margin-bottom: 10px;
}

.slide.surprise h4 {
  position: absolute;
  font-size: 12px;
  bottom: 5%;
  left: 20px;
  margin: 0;
  padding-right: 10px;
  /* opacity: 0; */
  display: none;
}




.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  display: flex;
  transition: opacity .3s ease-in 0.4s;
}

.slide.active h4 {
  opacity: 1;
  display: flex;
  transition: opacity .3s ease-in 0.4s;
}


.hidden {
  display: none;
}

.blur {
  filter: blur(15px);
}

.gift {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 1;
  filter: blur(0);
}

.slide.active .gift {
  opacity: 0;
  transition: opacity .3s ease-in 0.4s;
}

.slide.active .opa {
  opacity: 1;

  transition: opacity .3s ease-in 0.4s;
}

.opa {
  opacity: 0;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.5s ease-in-out;
}